<%- include("header") %>
<h1>This is the about page</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus ex natus omnis voluptatibus quaerat soluta doloribus aliquam quis qui facilis, iure dolorem non possimus. Cupiditate, quibusdam? Voluptatibus cumque nisi corrupti repudiandae vitae nam cupiditate tenetur possimus dolorum cum! Ipsam numquam quas porro assumenda blanditiis fugit maiores ex voluptate magnam expedita?</p>

<%- include("footer") %>